<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Cue points</title>
<link rel="stylesheet" href="theme.css">
<link rel="stylesheet" href="addons.css">
</head>
<body>
<div id="app">

<h1>Cue points</h1>

<p>
    Drag and drop an audio file onto the input below, then click the "Compute" button and let the magic happen!
</p>

<p>
    <a href="https://github.com/christophermh44/radio-snippets/blob/main/cue-points/README.md">Read more</a>
</p>

<form action="#" @submit.prevent="compute" novalidate>
    <fieldset>
        <legend>File selection</legend>
        <p>
            <label for="file">Audio file</label>
            <input type="file" id="file" name="file" ref="file" v-model="file" accept="audio/*" @change="found = false">
        </p>
        <details>
            <summary>Settings</summary>
            <div>
                <fieldset>
                    <legend>START detection</legend>
                    <p>
                        <label for="start-level">Start level (dB)</label>
                        <input type="number" id="start-level" v-model.number="settings.start_level">
                    </p>
                    <p>
                        <label for="start-duration">Duration (s)</label>
                        <input type="number" id="start-duration" v-model.number="settings.start_duration">
                    </p>
                    <p class="strong">
                        OR
                    </p>
                    <p>
                        <label for="start-peak-level">Start peak level (dB)</label>
                        <input type="number" id="start-peak-level" v-model.number="settings.start_peak_level">
                    </p>
                    <p class="em">
                        Both detections will be computed. The first one that will be triggered will define the position of the cue point.
                    </p>
                </fieldset>
                <fieldset>
                    <legend>NEXT detection</legend>
                    <p>
                        <label for="next-level">Next level (dB)</label>
                        <input type="number" id="next-level" v-model.number="settings.next_level">
                    </p>
                    <p>
                        <label for="next-duration">Duration (s)</label>
                        <input type="number" id="next-duration" v-model.number="settings.next_duration">
                    </p>
                    <p class="strong">
                        OR
                    </p>
                    <p>
                        <label for="next-peak-level">Next peak level (dB)</label>
                        <input type="number" id="next-peak-level" v-model.number="settings.next_peak_level">
                    </p>
                    <p class="em">
                        Both detections will be computed. The first one that will be triggered will define the position of the cue point.
                    </p>
                </fieldset>
                <fieldset>
                    <legend>Fades</legend>
                    <p>
                        <label for="begin-fade">Begin fade (s)</label>
                        <input type="number" id="begin-fade" v-model.number="settings.begin_fade">
                    </p>
                    <p>
                        <label for="end-fade">End fade (s)</label>
                        <input type="number" id="end-fade" v-model.number="settings.end_fade">
                    </p>
                </fieldset>
            </div>
        </details>
        <p>
            <button type="submit" :disabled="!file || computing">
                Compute
            </button>
        </p>
        <p v-show="computing">
            <span class="lds-dual-ring"></span>
            {{ message }}
        </p>
    </fieldset>

    <fieldset>
        <legend>Output</legend>

        <p>
            <audio ref="audio" controls class="w-100p"></audio>
        </p>

        <p v-for="(value, name) in cue">
            <button class="monospace" type="button" :disabled="!found" @click="playAt(value)">▶</button>
            <label :for="name" v-text="name"></label>
            <input type="number" :id="name" v-model.number="cue[name]" :disabled="computing">
        </p>
    </fieldset>

    <fieldset>
        <legend>Playground</legend>

        <p>
            <button type="button" @click="add" :disabled="!found">Add to playlist</button>
        </p>

        <template v-if="playlist.length">
            <div class="playlist">
                <div class="playlist-item" v-for="(item, index) in playlist" ref="item" :key="index">
                    <div class="playlist-item__header">
                        <button class="button-small" type="button" @click="move(index, index - 1)" :disabled="index === 0">⇧</button>
                        <button class="button-small" type="button" @click="move(index, index + 1)" :disabled="index === playlist.length - 1">⇩</button>
                        <button class="button-small" type="button" @click="remove(index)">×</button>
                        <span class="strong playlist-item__name" v-text="item.name"></span>
                    </div>
                    <div>
                        <input type="range" v-model="item.audio.currentTime" min="0" :max="item.audio.duration" step="0.01">
                        <span v-text="formatTime(item.audio.currentTime)"></span> / <span v-text="formatTime(item.audio.duration)"></span>
                    </div>
                    <details>
                        <summary>Cues</summary>
                        <ul>
                            <li v-for="(value, name) in item.cue">
                                {{ name }}: {{ formatTime(value) }}
                            </li>
                        </ul>
                    </details>
                </div>
            </div>
        </template>
        <template v-else>
            <p class="playlist playlist--empty">
                The playlist is empty.
            </p>
        </template>

        <p>
            <button type="button" @click="playPlaylist" :disabled="playlist.length === 0 || playing">Play</button>
            <button type="button" @click="stopPlaylist" :disabled="!playing">Stop</button>
        </p>
    </fieldset>
</form>
</div>

<script src="vue.min.js"></script>
<script type="module" src="app.js"></script>

</body>
</html>
